boto3==1.36.15
Flask==3.1.0
gunicorn==23.0.0
keras-image-helper==0.0.1
pandas==2.2.3
pipdeptree==2.25.0
praat-parselmouth==0.4.5
pydub==0.25.1
pyOpenSSL==25.0.0
python-decouple==3.8
requests==2.32.3
scikit-learn==1.6.1
tflite-runtime==2.14.0
numpy==1.26.4
